
.center-navbar .navbar .container {
    width: 100%;
    color: red;
  }
  
  .center-navbar {
    text-align: center;
  }
  .center-navbar .navbar {
    display: inline-block;
  }
  .center-navbar .navbar .container {
    width: 100%;
  }
  